#!/bin/bash
set -e
export CLASSPATH="<hadoop-conf>"
for f in ./target/PACK-17*/PACK-17*/lib/*
do
  export CLASSPATH="${CLASSPATH}:${f}"
done
echo $CLASSPATH
set -x
sudo \
 PACK_LOCAL="/var/lib/pack-block" \
 PACK_SCOPE="global" \
 PACK_HDFS_PATH="/user/pack/block-volumes" \
 PACK_ZOOKEEPER_CONNECTION_STR="<zk>/pack" \
 java -Xmx1g -Xms1g -cp ${CLASSPATH} pack.block.server.BlockPackServer

